div.Collection {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;

  div.profile {
    padding: 1rem;
    margin: 2rem;
    border: 3px solid white;
    background-color: rgb(159, 45, 32);
    button {
      padding: 0.25rem 0.5rem;
      margin: 0.5rem;
      font-size: 2rem;
      color: rgb(159, 45, 32);
      background-color: white;
      cursor: pointer;
      &:hover {
        background-color: rgb(159, 45, 32);
        color: white;
      }
    }
  }

  div.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    div.photos-result {
      border-radius: 20px;
      background-color: rgb(159, 45, 32);
      border: 3px solid white;
      margin: 1rem;
      padding: 1rem;
      width: 400px;
      color: white;
      h2 {
        padding: 5px;
        font-size: 1.5rem;
      }
      button {
        margin: 10px 5px;
        padding: 5px;
        background-color: white;
        border-radius: 15px;
        font-size: 1.5rem;
        text-decoration: none;
        color: rgb(159, 45, 32);
        border: none;
        cursor: pointer;
        a {
          font-size: 1.5rem;
          text-decoration: none;
          color: rgb(159, 45, 32);
        }
        &:hover {
          background-color: rgb(159, 45, 32);
          color: white;
          a {
            color: white;
          }
        }
      }
      div.photo-container {
        overflow: hidden;
        height: 40vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
